---
layout: default
---
<section id="bracket">
  <div class="container">
    <div class="split split-one">
      <div class="round round-one current">
        <div class="round-details">Round 1<br /><span class="date">March 17-18</span></div>
        <ul class="matchup">
          <li class="team team-top">Gonzaga<span class="score">76</span></li>
          <li class="team team-bottom">Georgia St.<span class="score">82</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Boise St.<span class="score">64</span></li>
          <li class="team team-bottom">Memphis<span class="score">56</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">UConn<span class="score">68</span></li>
          <li class="team team-bottom">New Mexico St.<span class="score">54</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Arkansas<span class="score">74</span></li>
          <li class="team team-bottom">Vermont<span class="score">92</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Alabama<span class="score">78</span></li>
          <li class="team team-bottom">Notre Dame<span class="score">80</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Texas Tech.<span class="score">64</span></li>
          <li class="team team-bottom">Montana St.<span class="score">63</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Michigan St.<span class="score">70</span></li>
          <li class="team team-bottom">Davidson<span class="score">59</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Duke<span class="score">64</span></li>
          <li class="team team-bottom">CSU Fullerton<span class="score">68</span></li>
        </ul>

        <ul class="matchup">
          <li class="team team-top">Baylor<span class="score">64</span></li>
          <li class="team team-bottom">Norfolk St.<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">North Carolina<span class="score">64</span></li>
          <li class="team team-bottom">Marquette<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Saint Mary's<span class="score">64</span></li>
          <li class="team team-bottom">Indiana<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">UCLA<span class="score">64</span></li>
          <li class="team team-bottom">Akron<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Texas<span class="score">64</span></li>
          <li class="team team-bottom">Virginia Tech<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Purdue<span class="score">64</span></li>
          <li class="team team-bottom">Yale<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Murray St.<span class="score">64</span></li>
          <li class="team team-bottom">San Fransisco<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Kentucky<span class="score">64</span></li>
          <li class="team team-bottom">St. Peter's<span class="score">68</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->

      <div class="round round-two">
        <div class="round-details">Round 2<br /><span class="date">March 18-20</span></div>
        <ul class="matchup">
          <li class="team team-top">{{ page.teams[0] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[1] }}<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">{{ page.teams[2] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[3] }}<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">{{ page.teams[4] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[5] }}<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">{{ page.teams[6] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[7] }}<span class="score">&nbsp;</span></li>
        </ul>

        <ul class="matchup">
          <li class="team team-top">{{ page.teams[8] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[9] }}<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">{{ page.teams[10] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[11] }}<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">{{ page.teams[12] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[13] }}<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">{{ page.teams[14] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[15] }}<span class="score">&nbsp;</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->

      <div class="round round-three">
        <div class="round-details">Round 3<br /><span class="date">March 24-25</span></div>
        <ul class="matchup">
          <li class="team team-top">{{ page.teams[16] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[17] }}<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">{{ page.teams[18] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[19] }}<span class="score">&nbsp;</span></li>
        </ul>

        <ul class="matchup">
          <li class="team team-top">{{ page.teams[20] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[21] }}<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">{{ page.teams[22] }}<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">{{ page.teams[23] }}<span class="score">&nbsp;</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->
    </div>

    <div class="round round-four">
      <div class="round-details">Elite 8<br /><span class="date">March 26-27</span></div>
      <ul class="matchup">
        <li class="team team-top">{{ page.teams[24] }}<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">{{ page.teams[25] }}<span class="score">&nbsp;</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">{{ page.teams[26] }}<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">{{ page.teams[27] }}<span class="score">&nbsp;</span></li>
      </ul>
    </div> <!-- END ROUND FOUR -->
  </div>

  <div class="champion">
    <div class="semis-l">
      <div class="round-details">national semifinals <br /><span class="date">April 2</span></div>
      <ul class="matchup championship">
        <li class="team team-top">{{ page.teams[28] }}<span class="vote-count">&nbsp;</span></li>
        <li class="team team-bottom">{{ page.teams[29] }}<span class="vote-count">&nbsp;</span></li>
      </ul>
    </div>
    <div class="final">
      <i class="fa fa-trophy"></i>
      <div class="round-details">championship <br /><span class="date">April 4</span></div>
      <ul class="matchup championship">
        <li class="team team-top">{{ page.teams[30] }}<span class="vote-count">&nbsp;</span></li>
        <li class="team team-bottom">{{ page.teams[31] }}<span class="vote-count">&nbsp;</span></li>
      </ul>
    </div>
    <div class="semis-r">
      <div class="round-details">national semifinals <br /><span class="date">April 2</span></div>
      <ul class="matchup championship">
        <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
      </ul>
    </div>
  </div>


  <div class="split split-two">

    <div class="round round-four">
      <div class="round-details">Elite 8<br /><span class="date">March 26-27</span></div>
      <ul class="matchup">
        <li class="team team-top">{{ page.teams[24] }}<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">{{ page.teams[25] }}<span class="score">&nbsp;</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">{{ page.teams[26] }}<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">{{ page.teams[27] }}<span class="score">&nbsp;</span></li>
      </ul>
    </div> <!-- END ROUND FOUR -->

    <div class="round round-three">
      <div class="round-details">Round 3<br /><span class="date">March 24-25</span></div>
      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>

      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>
    </div> <!-- END ROUND THREE -->

    <div class="round round-two">
      <div class="round-details">Round 2<br /><span class="date">March 18-20</span></div>
      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>

      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
      </ul>
    </div> <!-- END ROUND TWO -->

    <div class="round round-one current">
      <div class="round-details">Round 1<br /><span class="date">March 17-18</span></div>
      <ul class="matchup">
        <li class="team team-top">Arizona<span class="score">62</span></li>
        <li class="team team-bottom">Wright St.<span class="score">54</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Seton Hall<span class="score">68</span></li>
        <li class="team team-bottom">TCU<span class="score">66</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Houston<span class="score">64</span></li>
        <li class="team team-bottom">UAB<span class="score">56</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Illinois<span class="score">36</span></li>
        <li class="team team-bottom">Chattanooga<span class="score">40</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Colorado St.<span class="score">38</span></li>
        <li class="team team-bottom">Michigan<span class="score">44</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Tennessee<span class="score">52</span></li>
        <li class="team team-bottom">Longwood<span class="score">80</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Ohio St.<span class="score">58</span></li>
        <li class="team team-bottom">Loyola Chicago<span class="score">59</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Villanova<span class="score">74</span></li>
        <li class="team team-bottom">Delaware<span class="score">111</span></li>
      </ul>

      <ul class="matchup">
        <li class="team team-top">Kansas<span class="score">74</span></li>
        <li class="team team-bottom">TX Southern<span class="score">111</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">San Diego St.<span class="score">74</span></li>
        <li class="team team-bottom">Creighton<span class="score">111</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Iowa<span class="score">74</span></li>
        <li class="team team-bottom">Richmond<span class="score">111</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Providence<span class="score">74</span></li>
        <li class="team team-bottom">South Dakota St.<span class="score">111</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">LSU<span class="score">74</span></li>
        <li class="team team-bottom">Iowa St.<span class="score">111</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Wisconsin<span class="score">74</span></li>
        <li class="team team-bottom">Colgate<span class="score">111</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">USC<span class="score">74</span></li>
        <li class="team team-bottom">Miami<span class="score">111</span></li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">Auburn<span class="score">74</span></li>
        <li class="team team-bottom">Jacksonville St.<span class="score">111</span></li>
      </ul>
    </div> <!-- END ROUND ONE -->
  </div>
  </div>
</section>